@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  color: white;
  text-rendering: optimizeLegibility;
  scrollbar-color: var(--color-pink-400);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-code: "IBM Plex Mono", monospace;
  --font-sans: "Lato", "Inter Tight", sans-serif;
  --animate-insert-text:
    blinking-cursor 0.75s step-end infinite, insert-text 5s steps(0) infinite;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-back {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes blinking-cursor {
  from,
  to {
    border-right: 1ex solid;
  }
  50% {
    border: none;
  }
}

@keyframes insert-text {
  from,
  to {
    width: 0;
  }
  20% {
    width: 0;
  }
  45% {
    width: 100%;
  }
  80% {
    width: 100%;
  }
}
